.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.body {
  font-family: 'Bree Serif', serif;
  color: black;
}

.white{
  color: white;
}
/* 
.user-container {
  background-image: url('../public/grape.png');
} */

.grape-img{
 width: 70%;
 position: relative;
 top: 100px;
}

.regional-container{
  
    position: relative;
    left: 25px;
    top: 10px;
}

.left{
  position: absolute;
  left: 25px;
}

.edit-icon{
  margin: 10px;
  
}

.user-review{
  position: absolute;
  right: 25px;
}

.favorites{
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.visible {
  visibility: visible;
}
.invisible {
  visibility: hidden;
}

.padding {
  margin-left: .25;
  margin-right: .25;
}

.color-nav{
  background: rgb(132,206,235);
  background: linear-gradient(90deg, rgba(132,206,235,1) 0%, rgba(90,185,234,1) 35%, rgba(136,96,208,1) 100%);
  font-family: 'Pacifico', cursive; 
  font-size: 25px;
}

.App-header {
  background-color: #353e4e;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.worldmap {
  display: flex;
  align-items: center;
  justify-content: center;
}
.background {
  background-color: rgb(132,206,235);
  background: linear-gradient(90deg, rgba(132,206,235,1) 0%, rgba(90,185,234,1) 35%, rgba(136,96,208,1) 100%);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

